<!--{{names}}-->
<!--<div class="dropdown">-->
    <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Users-->
        <!--<span class="caret"></span></button>-->
    <!--<ul class="dropdown-menu">-->
        <!--<li><a href="">{{name[0].name}}</a></li>-->
        <!--<li><a href="#">{{name[1].name}}</a></li>-->
        <!--<li><a href="#">{{name[2].name}}</a></li>-->
    <!--</ul>-->
<!--/div-->
<!--<select><option ng-repeat="name in names">{{name.name}}</option></select>-->